{% block datagrid_column_type_batch_header %}
    {% apply spaceless %}
        <th>
            <input type="checkbox" id="{{ header.dataGridName }}_{{ header.type }}"/>
            <script type="text/javascript">
                (function (w) {
                    var header = w.document.getElementById('{{ header.dataGridName }}_{{ header.type }}');

                    header.onclick = function() {
                        var elements = w.document.getElementsByClassName('{{ header.dataGridName }}_{{ header.type }}'),
                            i = 0;

                        for (i; i < elements.length; i++) {
                            elements[i].checked = this.checked;
                        }
                    }
                }(window));
            </script>
        </th>
    {% endapply %}
{% endblock %}

{% block datagrid_column_type_batch_cell %}
{% apply spaceless %}
    <td>
        <input type="checkbox" name="{{ cell.dataGridName }}_{{ cell.type }}[]" value="{{ cell.getAttribute('index') }}" class="{{ cell.dataGridName }}_{{ cell.type }}" />
    </td>
{% endapply %}
{% endblock %}

{% block datagrid_column_type_action_cell_action %}
<a {% for attrname, attrvalue in attr %}{% if attrname == 'title' %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}>
    {{- content|trans({}, translation_domain)|raw -}}
</a>
{% endblock %}

{% block datagrid_column_type_action_cell %}
{% apply spaceless %}
    <td>
        <div>
            {% for action_name, action in cell.value %}
                {{ datagrid_column_type_action_cell_action_widget(
                    cell,
                    action_name,
                    action.content,
                    action.url_attr,
                    action.field_mapping_values
                ) }}
            {% endfor %}
        </div>
    </td>
{% endapply %}
{% endblock %}

{% block datagrid_column_header %}
{% apply spaceless %}
{% if header.hasAttribute('label') %}
    {% set label = header.getAttribute('label')|trans({}, translation_domain)  %}
{% else %}
    {% set label = header.name|humanize|trans({}, translation_domain)  %}
{% endif %}
    <th{{ block('datagrid_header_attributes') }}>
        <span>{{ label }}</span>
    </th>
{% endapply %}
{% endblock %}

{% block datagrid_header %}
{% apply spaceless %}
<tr>
    {% for header in headers %}
        {{ datagrid_column_header_widget(header) }}
    {% endfor %}
</tr>
{% endapply %}
{% endblock %}

{% block datagrid_column_cell_form %}
<div>
{% for child in form.children %}
    {% for subchild in child.children %}
        {{ form_label(subchild) }}
        {{ form_errors(subchild) }}
        {{ form_widget(subchild) }}
    {% endfor %}
{% endfor %}
</div>
{% endblock %}

{% block datagrid_column_cell %}
{% apply spaceless %}
    <td{{ block('datagrid_cell_attributes') }}>
        <div{{ block('datagrid_container_attributes') }}>
            <span{{ block('datagrid_value_attributes') }}>
                {{- cell.value|raw -}}
                {{- datagrid_column_cell_form_widget(cell) -}}
            </span>
        </div>
    </td>
{% endapply %}
{% endblock %}

{% block datagrid_rowset %}
{% apply spaceless %}
    {% for index, row in datagrid %}
        <tr>
            {% for cell in row %}
                {{ datagrid_column_cell_widget(cell) }}
            {% endfor %}
        </tr>
    {% endfor %}
{% endapply %}
{% endblock %}

{% block datagrid %}
{% apply spaceless %}
    <table>
        <thead>
            {{ datagrid_header_widget(datagrid) }}
        </thead>
        <tbody>
            {{ datagrid_rowset_widget(datagrid) }}
        </tbody>
    </table>
{% endapply %}
{% endblock %}

{% block datagrid_container_class 'datagrid-cell-container' ~ ('action' == cell.type ? ' text-right actions' : '') %}
{% block datagrid_header_class 'datagrid-header' %}
{% block datagrid_value_class 'datagrid-cell-value' %}
{% block datagrid_cell_class 'datagrid-cell' %}

{%- block datagrid_value_attributes -%}
    {%- set valueAttr = cell.getAttribute('value_attr')|default([]) -%}
    {%- set attr = valueAttr|merge({class: (valueAttr['class']|default('') ~ ' ' ~ block('datagrid_value_class'))|trim}) -%}
    {{ block('datagrid_attributes') }}
{%- endblock datagrid_value_attributes -%}

{%- block datagrid_cell_attributes -%}
    {%- set cellAttr = cell.getAttribute('cell_attr')|default([]) -%}
    {%- set attr = cellAttr|merge({class: (cellAttr['class']|default('') ~ ' ' ~ block('datagrid_cell_class'))|trim}) -%}
    {{ block('datagrid_attributes') }}
{%- endblock datagrid_cell_attributes -%}

{%- block datagrid_header_attributes -%}
    {%- set headerAttr = header.getAttribute('header_attr')|default([]) -%}
    {%- set attr = headerAttr|merge({class: (headerAttr['class']|default('') ~ ' ' ~ block('datagrid_header_class'))|trim}) -%}
    {{ block('datagrid_attributes') }}
{%- endblock datagrid_header_attributes -%}

{%- block datagrid_container_attributes -%}
    {%- set containerAttr = cell.getAttribute('container_attr')|default([]) -%}
    {%- set id = cell.dataGridName ~ '_' ~ row_index ~ '_' ~ cell.name -%}
    {%- set class = (containerAttr['class']|default('') ~ ' ' ~ block('datagrid_container_class'))|trim -%}
    {%- set attr = { id: id }|merge(containerAttr)|merge({class: class}) -%}
    {{ block('datagrid_attributes') }}
{%- endblock datagrid_container_attributes -%}

{%- block datagrid_attributes -%}
    {%- for attrname, attrvalue in attr -%}{{- " " -}}{{- attrname }}="{{ attrvalue }}"{%- endfor -%}
{%- endblock datagrid_attributes -%}

{% block datagrid_column_type_web_file_cell %}
{% apply spaceless %}
<td>
    <div>
        {% endapply %}
        {% if is_web_file(cell.value) %}
            {% if cell.getAttribute('resolve_file_url') %}
                <a href="{{ cell.value|file_url }}" target="_blank">{{ cell.value|file_name }}</a>
            {% else %}
                {{ cell.value|file_name }}
            {% endif %}
        {% endif %}
        {% apply spaceless %}
    </div>
</td>
{% endapply %}
{% endblock %}

{% block datagrid_column_type_web_image_cell %}
{% apply spaceless %}
<td>
    <div style="width: {{ cell.attributes.width + 2 * 5 }}px; {% if cell.attributes.height is not null %}height: {{ cell.attributes.height + 2 * 5 }}px;{% endif %}">
        {% endapply %}
        {% if is_web_file(cell.value) %}
            <img src="{{ cell.value|file_url }}"
                 alt="{{ cell.value|file_name }}"
                 {% if cell.attributes.width is not null %}width="{{ cell.attributes.width + 2 * 5 }}"
                 {% endif %}{% if cell.attributes.height is not null %}height="{{ cell.attributes.height + 2 * 5 }}"{% endif %}
            >
        {% endif %}
        {% apply spaceless %}
    </div>
</td>
{% endapply %}
{% endblock %}
